<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
    <h1>Index Page</h1>

    <ul>
        <li><a href="{% url 'general:login' %}">I001 ログイン画面</a></li>
        <li><a href="{% url 'general:top' %}">I003 トップ画面</a></li>
        <li><a href="{% url 'general:account' %}">I004 アカウント画面</a></li>
        <li>I005 作者ページ作成画面</li>
        <li><a href="{% url 'general:artist_detail' %}">I006 作者ページ詳細画面</a></li>
        <li>I007 作者ページ編集画面</li>
        <li>I008 データ収集画面</li>
        <li>I009 データ結果画面</li>
    </ul>

</body>
</html>