<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>トップ画面</title>
</head>
<body>
    <h1>I002_トップ画面</h1>

    [現在のログインユーザ情報]------------------<br>
    +{{user.username}}<br>
    +{{user.email}}<br>
    <a href="{% url 'general:logout' %}">ログアウト</a>
    <br>---------------------------------------------<br>
    <HR><br>

    ユーザ機能<br>
    <ul>
        <li>あなたへのおすすめ一覧（ランキング形式）</li>
        <li>タグ検索する</li>
        <li><a href="{% url 'general:account' %}">アカウントページ</a></li>
        <li>お気に入り作者一覧</li>
    </ul>

    サーバ管理者機能<br>
    <ul>
        <li>新規作者を検索、追加（更新ボタン）</li>
        <li>作者ページ一覧</li>
        <li>作者ページ作成</li>
    </ul>

    <HR>
    登録された作者<br>
    {% for artist in artist_list %}
        <li><a href="{% url 'general:artist_detail' artist.id %}">{{ artist.artist_name }}</a></li>
    {% endfor %}

    <HR>
    登録されたタグ一覧<br>
    {% for tag in all_tag_list %}
        <li><a href="{% url 'general:tag_search' tag.id %}">{{ tag }}</a></li>
    {% endfor %}
</body>
</html>