<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ artist.artist_name }}のページ</title>
</head>
<body>

    <h1>I006_作者ページ詳細画面</h1>
    作者のpixivID: {{ artist.artist_id }}<br>
    作者の名前: {{ artist.artist_name }}<br>
    作者のアイコン画像: （未実装）<br>
    作者のpixivURL: <a href="http://www.pixiv.net/member.php?id={{ artist.artist_id }}" >
        http://www.pixiv.net/member.php?id={{ artist.artist_id }}</a><br>
    作者タグ:
    {% for tag in tag_list %}
        <li><a href="{% url 'general:tag_search' tag.id %}">{{ tag }}</a></li>
    {% endfor %}

</body>
</html>