<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>（作者の名前）のページ</title>
</head>
<body>

    <h1>I005_作者ページ作成画面</h1>
    {{ artist }}
    作者のpixivID: {{ artist.artist_id }}<br>
    作者の名前: {{ artist.artist_name }}<br>
    作者のアイコン画像: （未実装）<br>
    作者のpixivURL: <a href="http://www.pixiv.net/member.php?id={{ artist.artist_id }}" >
        http://www.pixiv.net/member.php?id={{ artist.artist_id }}</a><br>
    作者タグ:
    {% for tag in tag_list %}
        <li>{{ tag }}</li>
    {% endfor %}

</body>
</html>