{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ artist.artist_name }}のページ</title>
</head>
<body>

    <h1>I006_作者ページ詳細画面</h1>
    作者のpixivID: {{ artist.artist_id }}<br>
    作者の名前: {{ artist.artist_name }}<br>
    作者のアイコン画像:<br>
    <figure>
        <img src="{{ STATIC_URL }}{{ artist.thumbnail.url }}" width="100">
    </figure>
    作者のpixivURL: <a href="http://www.pixiv.net/member.php?id={{ artist.artist_id }}" >
        http://www.pixiv.net/member.php?id={{ artist.artist_id }}</a><br>
    作者タグ:
    {% for tag in tag_list %}
        <li><a href="{% url 'general:tag_search' tag.name %}">{{ tag }}</a></li>
    {% endfor %}
    {% if flag_fav %}
        [フォロー中]
    {% else %}
        <form action="{% url 'general:artist_detail' artist.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="フォローする" />
        </form>
    {% endif %}

    <form action="{% url 'general:artist_update' artist.id %}" method="get">
{#            {% csrf_token %}#}
            <input type="submit" value="編集する" /><br>
    </form>

    <br>

    <input type="button" value="戻る" onClick="history.back()">

</body>
</html>