<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>illustpedia</title>
</head>
<body>
    {{ artist.artist_name }}を編集中
    <HR>

    <figure>
        <img src="{{ STATIC_URL }}{{ artist.thumbnail.url }}" width="100">
    </figure>

    <form action="{% url 'general:artist_update' artist.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            {{ form }}
        </table>
        <br>
        <button type="submit" class="form-button">変更する</button>
    </form>
    <br>
    <input type="button" value="戻る" onClick="history.back()">

</body>
</html>