<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>I008_タグ検索画面</title>
</head>
<body>
    <h1>I008_タグ検索画面</h1>

    <HR>
    dict_sort_artist_list_order（　あなたへのおすすめリスト　）<br>
    {% for artist in dict_sort_artist_list_order %}
        <img src="{{ STATIC_URL }}{{ artist.thumbnail.url }}" width="35">
        <a href="{% url 'general:artist_detail' artist.id %}">{{ artist }}</a>
        <br>
    {% endfor %}

    <HR>
    dict_sort_tag_list_order（　ユーザのフォローしている作者の作者タグを総計し、数が多い上位５つのタグ　）<br>
    タグ　合計数<br>
    {% for list in dict_sort_tag_list_order %}
        [
        {% for order in list %}
            {{ order }},
        {% endfor %}
        ]<br>
    {% endfor %}

    <HR>
    user_follow_artist_list（　あなたが現在フォローしているすべての作者　）<br>
    {% for artist in user_follow_artist_list %}
        <img src="{{ STATIC_URL }}{{ artist.thumbnail.url }}" width="35">
        {{ artist }}
        <br>
    {% endfor %}

    <HR>
    dict_sort_artist_list_order（　あなたへのおすすめリスト（フォローしてない作者）　）<br>
    {% for artist in dict_sort_artist_list_order_non_follow %}
        <img src="{{ STATIC_URL }}{{ artist.thumbnail.url }}" width="35">
        <a href="{% url 'general:artist_detail' artist.id %}">{{ artist }}</a>
        <br>
    {% endfor %}

    <HR>
    <br><br><br>
</body>
</html>